@import "tailwindcss";

:root {
  --font-dmSans: "DM Sans", sans-serif;
  --font-oswald: "Oswald", sans-serif;
}

.bg-img {
  background-color: black;
  background-image: url("assets/images/fundo.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-texto {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 15px -4px;
  width: auto;
  height: fit-content;
  border-radius: 1.5rem;
}

.title {
  font-family: var(--font-oswald);
  font-size: 1.5rem;
  font-weight: 500;
}

.card-texto p {
  font-family: var(--font-dmSans);
}

.em {
  display: block;
  margin-top: 1em;
  color: #5f5f5f;
  font-weight: 500;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .bg-img {
    background-color: white;
    background-image: none;
  }
  .card-texto {
    background-color: white;
  }
}
